.displayNone{
	display:none;
}
.editBgColor{
	background-color: #FAFFBD;
}
.btnCursor{
	margin-top: 1px;
    cursor: pointer;
}
.disableFooter{
	pointer-events: none;
    opacity: 0.4;
}
div[data-disabled='true'][data-name='customBtns']{
	pointer-events: none;
    opacity: 0.4;
}